#modalCheckout {
    color: #666;
}

#modalCheckout .modal-title,
#modalCheckout label {
    color: #000;
}

#modalCheckout .nav-tabs li a {
    cursor: pointer;
    color: #000;
    text-decoration: none !important;
}

#modalCheckout .tab-pane {
    padding-top: 15px;
}

#modalCheckout .form-control {
    margin-bottom: 15px;
}

#modalCheckout .cartoes {
    padding: 0;
}

#modalCheckout .cartoes li {
    list-style: none;
    display: inline-block;
    filter: grayscale(100%);
}

#modalCheckout .cartoes li:hover,
#modalCheckout .cartoes .ativo {
    filter: grayscale(0);
}

#modalCheckout .numeroCartao {
    position: relative;
}
#modalCheckout .numeroCartao img {
    position: absolute;
    right: 25px;
    top: 40px;
    width: 50px;
}

#modalCheckout .bancos li {
    list-style: none;
    display: inline-block;
    margin: 25px 30px 25px 0;
}

#modalCheckout .bancos li a {
    text-decoration: none;
    color: #666;
}

#modalCheckout .bancos li a img {
    width: 50px;
    filter: grayscale(100%);
    margin: 0 auto 5px auto;
    display: block;
}

#modalCheckout .bancos li a:hover img,
#modalCheckout .bancos .ativo img {
    filter: grayscale(0);
}

#modalCheckout .fa-barcode {
    font-size: 60px;
}

.modal-confirm {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    font-size: 18px;
}

.modal-confirm i {
    font-size: 100px;
    color: green;
    margin-bottom: 15px;
}

#check {
    animation-duration: 1s;
    animation-delay: 0.3s;
}


/* grid sm */
@media only screen
and (min-width: 768px)
and (max-width: 991px) {
    #modalCheckout .fa-barcode {
        font-size: 80px;
    }
}


@media only screen and (max-width: 767px) {
    #modalCheckout .cartoes li {
        margin-bottom: 15px;
    }
    
    #modalCheckout .bancos li {
        display: grid;
        margin-right: 0;
        margin-bottom: 15px;
        text-align: center;
    }
}